* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient( lightgreen, darkgreen);
    font-family: 'Gluten', sans-serif;
}
main {
    padding: 5%;
    background-color: gainsboro;
    border-radius: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1, h2 {
    padding-bottom: 1em;
}

h1 {
    color: darkgreen;
}

#zonaJuego {
    display: flex;
    justify-content: space-evenly;
    gap: 1em;
}

#jugador1, #jugador2 {
    line-height: 1.5em;
    height: 35vh;
    width: 25vw;
    border: 2px solid darkgreen;
    border-radius: 5px;
    flex: 1 0 25vw;
    text-align: center;
    font-size: 2rem;
}

#j1-img, #j2-img {
    width: 90%;
    height: 70%;
    margin: auto;
}
.rightPiedra {
    background-image: url(/img/piedraRight.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 90%;
}
.rightTijeras {
    background-image: url(/img/tijerasRight.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 90%;
}
.rightPapel {
    background-image: url(/img/papelRight.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 90%;
}
.leftPiedra {
    background-image: url(/img/piedraLeft.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 90%;
}
.leftTijeras {
    background-image: url(/img/tijerasLeft.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 90%;
}
.leftPapel {
    background-image: url(/img/papelLeft.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 90%;
}
.pulsadores {
    margin-top: 1em;
    
    display: flex;
    gap: 10px;
}

.pulsadores > button {
    border: none;
    background-color: #DCDCDC;
    display: block;
    height: 10vh;
    width: 10vw;
}

button:hover {
    transform: scale(1.2);
}