* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 2em;
    background: linear-gradient( lightgreen, darkgreen);
    font-family: 'Gluten', sans-serif;
}
main {
    padding: 1em;
    background-color: gainsboro;
    border-radius: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 95%;
    justify-content: space-between;
}

h1 {
    color: darkgreen;
}

#zonaJuego {
    flex: 3;
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    gap: 1em;
}

#jugador1, #jugador2 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-top: 0.3em;
    border: 2px solid darkgreen;
    border-radius: 5px;
    text-align: center;
    font-size: 2rem;
    width: 100%;
    height: auto;
}

#j1-img, #j2-img {
    flex: 9;
    width: 100%;
    margin: auto;
}
.rightPiedra {
    background-image: url(/img/piedraRight.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 90%;
}
.rightTijeras {
    background-image: url(/img/tijerasRight.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 90%;
}
.rightPapel {
    background-image: url(/img/papelRight.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 90%;
}
.leftPiedra {
    background-image: url(/img/piedraLeft.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 90%;
}
.leftTijeras {
    background-image: url(/img/tijerasLeft.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 90%;
}
.leftPapel {
    background-image: url(/img/papelLeft.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 90%;
}
.pulsadores {
    width: 100%;
    height: 17vh;
    display: flex;
    gap: 10px;
    flex: 1;
}

.cabecera {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.pulsadores > button {
    border: none;
    background-color: rgba(0,0,0,0);
    display: block;
    height: 100%;
    width: 80%;
    flex: 1;
}

button:hover {
    transform: scale(1.2);
}

#puntuacionPc, #puntuacionPlayer, #jugador1 > p, #jugador2 > p {
    flex:1;
}